<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
    <test name="FirstTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="FirstTest">
            <methods>
                <include name="firstTest"/>
            </methods>
            </class>
        </classes>
    </test> <!-- First Test -->

    <test name="SecondTest">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="SecondTest">
                <methods>
                    <include name="secondTest"/>
                </methods>
            </class>
        </classes>

    </test> <!--Second Test -->
</suite> <!-- Suite -->